<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Necessaire pour les appels HTTPS a l'API Mistral (console.mistral.ai). -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- Plus de filtre LAUNCHER ici : c'est l'alias actif (voir plus bas) qui porte
             l'icone du lanceur. Le choix se fait dans Reglages > page "Icone". -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboardHidden|uiMode" />

        <!-- Icone d'origine (activee par defaut) -->
        <activity-alias
            android:name=".IconOriginal"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Icones 1 a 6, declinees en 3 versions (filles / garcons / duo) : seule la
             version correspondant au public vise (Reglages > Profil) est proposee dans
             Reglages > Icone (voir AppIconStore.iconsFor), mais les 18 alias existent
             tous des le depart : l'appli active seulement celui choisi. -->
        <activity-alias
            android:name=".Icon1Filles"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt1_filles"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Icon1Garcons"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt1_garcons"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Icon1Duo"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt1_duo"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Icon2Filles"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt2_filles"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Icon2Garcons"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt2_garcons"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Icon2Duo"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt2_duo"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Icon3Filles"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt3_filles"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Icon3Garcons"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt3_garcons"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Icon3Duo"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt3_duo"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Icon4Filles"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt4_filles"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Icon4Garcons"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt4_garcons"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Icon4Duo"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt4_duo"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Icon5Filles"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt5_filles"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Icon5Garcons"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt5_garcons"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Icon5Duo"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt5_duo"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Icon6Filles"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt6_filles"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Icon6Garcons"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt6_garcons"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".Icon6Duo"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt6_duo"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Icones 7 et 8 : deja mixtes, inchangees, proposees quel que soit le public vise. -->
        <activity-alias
            android:name=".Icon7"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt7"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".Icon8"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_alt8"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>
